# **Exploratory Data Analysis (EDA)**
*   Load a dataset
*   statistical summaries
*   data visualization

# Python Libraries for EDA

* numpy
* pandas
* matplotlib

# Pandas
pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

# Dataframe
A dataframe represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. A dataframe has both a row and column index and can be thought of as a dict of Series, all sharing the same index. A column in a dataframe can be retrieved as a Series. The columns of the resulting DataFrame have different dtypes.

In [ ]:
import pandas as pd

List to series

In [ ]:
list1 = [1, 4, 15, 16, 9]

series = pd.Series(list1)

print(series)

0     1
1     4
2    15
3    16
4     9
dtype: int64

In [ ]:
import numpy as np
d_series = pd.Series(np.random.randn(10))
print(d_series)

0   -0.105354
1    0.992752
2    0.431407
3   -2.643363
4   -0.681407
5    1.627635
6    0.907804
7    1.002031
8   -0.129924
9    0.452642
dtype: float64

In [ ]:
d_series.head

<bound method NDFrame.head of 0   -0.105354
1    0.992752
2    0.431407
3   -2.643363
4   -0.681407
5    1.627635
6    0.907804
7    1.002031
8   -0.129924
9    0.452642
dtype: float64>

In [ ]:
import pandas as pd
import numpy as np
M1=pd.DataFrame(np.random.randint(0,100,size=(3, 4)))
M1.head()

    0   1   2   3
0  37  73  25  87
1  56  24   7  27
2  59  32  28  38

In [ ]:
import pandas as pd
import numpy as np
M2=pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
M2.head()

    A   B   C   D
0   9  93   8  92
1  25  14  50  14
2  36  11  42  40

In [ ]:
#list to dataframe
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(dataframe)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

# Load a dataset

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
cd /content/gdrive/My Drive/Colab Notebooks

/content/gdrive/My Drive/Colab Notebooks

In [9]:
ls

Iris.csv  Lab1_numpy.ipynb  Lab2_pandas.ipynb

In [10]:
import pandas as pd
data=pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
X = data.iloc[:, 0:4]
print(X)
y = data.select_dtypes(include=[object])
print(y)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1            5.1           3.5            1.4
1      2            4.9           3.0            1.4
2      3            4.7           3.2            1.3
3      4            4.6           3.1            1.5
4      5            5.0           3.6            1.4
..   ...            ...           ...            ...
145  146            6.7           3.0            5.2
146  147            6.3           2.5            5.0
147  148            6.5           3.0            5.2
148  149            6.2           3.4            5.4
149  150            5.9           3.0            5.1

[150 rows x 4 columns]
            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

# Exercises

1. Print all the features of the dataset.
2. Print shape of the dataset (rows and columns)
3. Print the shape of the dataset
4. Count number of distinct elements in species (i.e. the 3 different classes )
  also count the number of samples in each of three classes
5. Checking if there is any inconsistency in the DataSet. (use df.info())
6. Extract all the rows pertaining to 'setosa' into a dataframe named as df_setosa. Similarly extract for  'versicolor', and 'virginica classes.

1)

In [19]:
import pandas as pd
import numpy as np
data=pd.read_csv('Iris.csv')
df=pd.DataFrame(data)
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

2)

In [23]:
import pandas as pd
import numpy as np
df=pd.read_csv('Iris.csv')
shape = df.shape
print('\nNumber of rows :', shape[0])
print('\nNumber of columns :', shape[1])

Number of rows : 150

Number of columns : 6

3)

In [22]:
import pandas as pd
import numpy as np
df=pd.read_csv('Iris.csv')
shape = df.shape
print("Shape = {}".format(shape))

Shape = (150, 6)

4)

In [26]:
import pandas as pd
import numpy as np
df=pd.read_csv('Iris.csv')
df = pd.DataFrame(data)
n = len(pd.unique(df['Species']))
print(n)

3

5)

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv('Iris.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

6)

In [28]:
data.iloc[5]
df_setosa=data.loc[data["Species"] == "Iris-setosa"]
print(df_setosa)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [29]:
data.iloc[5]
df_setosa=data.loc[data["Species"] == "Iris-versicolor"]
print(df_setosa)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50   51            7.0           3.2            4.7           1.4
51   52            6.4           3.2            4.5           1.5
52   53            6.9           3.1            4.9           1.5
53   54            5.5           2.3            4.0           1.3
54   55            6.5           2.8            4.6           1.5
55   56            5.7           2.8            4.5           1.3
56   57            6.3           3.3            4.7           1.6
57   58            4.9           2.4            3.3           1.0
58   59            6.6           2.9            4.6           1.3
59   60            5.2           2.7            3.9           1.4
60   61            5.0           2.0            3.5           1.0
61   62            5.9           3.0            4.2           1.5
62   63            6.0           2.2            4.0           1.0
63   64            6.1           2.9            4.7           1.4
64   65            5.6           2.9            3.6           1.3
65   66            6.7           3.1            4.4           1.4
66   67            5.6           3.0            4.5           1.5
67   68            5.8           2.7            4.1           1.0
68   69            6.2           2.2            4.5           1.5
69   70            5.6           2.5            3.9           1.1
70   71            5.9           3.2            4.8           1.8
71   72            6.1           2.8            4.0           1.3
72   73            6.3           2.5            4.9           1.5
73   74            6.1           2.8            4.7           1.2
74   75            6.4           2.9            4.3           1.3
75   76            6.6           3.0            4.4           1.4
76   77            6.8           2.8            4.8           1.4
77   78            6.7           3.0            5.0           1.7
78   79            6.0           2.9            4.5           1.5
79   80            5.7           2.6            3.5           1.0
80   81            5.5           2.4            3.8           1.1
81   82            5.5           2.4            3.7           1.0
82   83            5.8           2.7            3.9           1.2
83   84            6.0           2.7            5.1           1.6
84   85            5.4           3.0            4.5           1.5
85   86            6.0           3.4            4.5           1.6
86   87            6.7           3.1            4.7           1.5
87   88            6.3           2.3            4.4           1.3
88   89            5.6           3.0            4.1           1.3
89   90            5.5           2.5            4.0           1.3
90   91            5.5           2.6            4.4           1.2
91   92            6.1           3.0            4.6           1.4
92   93            5.8           2.6            4.0           1.2
93   94            5.0           2.3            3.3           1.0
94   95            5.6           2.7            4.2           1.3
95   96            5.7           3.0            4.2           1.2
96   97            5.7           2.9            4.2           1.3
97   98            6.2           2.9            4.3           1.3
98   99            5.1           2.5            3.0           1.1
99  100            5.7           2.8            4.1           1.3

            Species
50  Iris-versicolor
51  Iris-versicolor
52  Iris-versicolor
53  Iris-versicolor
54  Iris-versicolor
55  Iris-versicolor
56  Iris-versicolor
57  Iris-versicolor
58  Iris-versicolor
59  Iris-versicolor
60  Iris-versicolor
61  Iris-versicolor
62  Iris-versicolor
63  Iris-versicolor
64  Iris-versicolor
65  Iris-versicolor
66  Iris-versicolor
67  Iris-versicolor
68  Iris-versicolor
69  Iris-versicolor
70  Iris-versicolor
71  Iris-versicolor
72  Iris-versicolor
73  Iris-versicolor
74  Iris-versicolor
75  Iris-versicolor
76  Iris-versicolor
77  Iris-versicolor
78  Iris-versicolor
79  Iris-versicolor
80  Iris-versicolor
81  Iris-versicolor
82  Iris-versicolor
83  Iris-versicolor
84  Iris-versicolor
85  Iris-versicolor
86  Iris-versicolor
87  Iris-versicolor
88  Iris-versicolor
89  Iris-versicolor
90  Iris-versicolor
91  Iris-versicolor
92  Iris-versicolor
93  Iris-versicolor
94  Iris-versicolor
95  Iris-versicolor
96  Iris-versicolor
97  Iris-versicolor
98  Iris-versicolor
99  Iris-versicolor

In [30]:
data.iloc[5]
df_setosa=data.loc[data["Species"] == "Iris-virginica"]
print(df_setosa)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
100  101            6.3           3.3            6.0           2.5
101  102            5.8           2.7            5.1           1.9
102  103            7.1           3.0            5.9           2.1
103  104            6.3           2.9            5.6           1.8
104  105            6.5           3.0            5.8           2.2
105  106            7.6           3.0            6.6           2.1
106  107            4.9           2.5            4.5           1.7
107  108            7.3           2.9            6.3           1.8
108  109            6.7           2.5            5.8           1.8
109  110            7.2           3.6            6.1           2.5
110  111            6.5           3.2            5.1           2.0
111  112            6.4           2.7            5.3           1.9
112  113            6.8           3.0            5.5           2.1
113  114            5.7           2.5            5.0           2.0
114  115            5.8           2.8            5.1           2.4
115  116            6.4           3.2            5.3           2.3
116  117            6.5           3.0            5.5           1.8
117  118            7.7           3.8            6.7           2.2
118  119            7.7           2.6            6.9           2.3
119  120            6.0           2.2            5.0           1.5
120  121            6.9           3.2            5.7           2.3
121  122            5.6           2.8            4.9           2.0
122  123            7.7           2.8            6.7           2.0
123  124            6.3           2.7            4.9           1.8
124  125            6.7           3.3            5.7           2.1
125  126            7.2           3.2            6.0           1.8
126  127            6.2           2.8            4.8           1.8
127  128            6.1           3.0            4.9           1.8
128  129            6.4           2.8            5.6           2.1
129  130            7.2           3.0            5.8           1.6
130  131            7.4           2.8            6.1           1.9
131  132            7.9           3.8            6.4           2.0
132  133            6.4           2.8            5.6           2.2
133  134            6.3           2.8            5.1           1.5
134  135            6.1           2.6            5.6           1.4
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
100  Iris-virginica
101  Iris-virginica
102  Iris-virginica
103  Iris-virginica
104  Iris-virginica
105  Iris-virginica
106  Iris-virginica
107  Iris-virginica
108  Iris-virginica
109  Iris-virginica
110  Iris-virginica
111  Iris-virginica
112  Iris-virginica
113  Iris-virginica
114  Iris-virginica
115  Iris-virginica
116  Iris-virginica
117  Iris-virginica
118  Iris-virginica
119  Iris-virginica
120  Iris-virginica
121  Iris-virginica
122  Iris-virginica
123  Iris-virginica
124  Iris-virginica
125  Iris-virginica
126  Iris-virginica
127  Iris-virginica
128  Iris-virginica
129  Iris-virginica
130  Iris-virginica
131  Iris-virginica
132  Iris-virginica
133  Iris-virginica
134  Iris-virginica
135  Iris-virginica
136  Iris-virginica
137  Iris-virginica
138  Iris-virginica
139  Iris-virginica
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica